---
layout: handbook-page-toc
title: "People Operations, Technology & Analytics Team"
description: "GitLab People Operations, Technology & Analytics Team Handbook"
---
## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

<link rel="stylesheet" type="text/css" href="/stylesheets/biztech.css" />

## Welcome to the People Operations, Technology & Analytics Team Handbook

* Our Mission is to provide extraordinary People support by developing and implementing policies, programs, and services that contribute to our team members' healthy, safe, and productive work environment.


## People Operations, Technology & Analytics Teams at GitLab

Here are how the team members divide their work to ensure the best results:

* The **People Experience Team** is responsible for onboarding, career mobility, offboarding, bonus processing, People Connect, personal information oversight, new hire/anniversary swag, and more.

* The **People Operations Team** is responsible for job changes (promotions and transfers), relocations, basic People data reporting, and process liaisons during new policy and program implementations.  

* The **Employment Solutions Team** is responsible for our country and location roadmap as we consider which countries to hire in, and which employment solution is best.  The team participates in the 'Business Expansion Committee' to develop a plan of country conversions, new country creations and changes in employment solutions to reduce risk and improve the team member experience.  This team also supports relocations and visa/sponsorship inquiries and needs. 

* The **[People Compliance](/handbook/people-group/people-compliance/) Team** works collaboratively to partner, manage and protect our Team Members personal and professional information, ensuring documentation confidentiality, and implements global compliance requirements to help meet internal  stakeholder expectations. 

* The **People Technology Team**

* The **[People Analytics Team](/handbook/people-group/people-ops-tech-analytics/people-analytics)** is responsible for working with stakeholders to develop and report various People Metrics and KPIs for the business.

* The **People Engineering Team**


### <i class="fas fa-bullhorn fa-fw" style="color:rgb(107,79,187); font-size:.85em" aria-hidden="true"></i>Connect With Us

<div class="flex-row" markdown="0" style="height:80px">
  <a href="https://app.slack.com/client/T02592416/C02360SQQFR" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">#people-connect Slack Channel</a>
  <a href="https://gitlab.com/people/general/-/issues" class="btn btn-purple" style="width:30%;height:100%;margin:1px;display:flex;justify-content:center;align-items:center;">Issue tracker</a>
</div>
<br>

## How We Work

### Responsibilities

The People Operations, Technology & Analytics Team is a Department under the [People](/handbook/people-group) Division.


### Slack

The People Operations, Technology & Analytics Team primarily uses these channels on Slack:

- [#people-connect](https://app.slack.com/client/T02592416/C02360SQQFR) is the primary channel for all of GitLab's People Operations, Employment Solutions, Technology & Analytics conversations. This is where folks from other teams can ask for help, direction, and receive answers or direction to the correct team from the Experience team. 

You can also tag subsets of the People Operations, Technology & Analytics Team in other slack channels using:

- @people-exp - this notifies the entire People Experience Team
- @peopleanalyticstriage - this should be used in the [#data](https://gitlab.slack.com/archives/C8D1LGC23) channel when there are questions or concerns about people data in dashboards or Snowflake

### GitLab Groups and Projects

The People Operations, Technology & Analytics Team primarily uses these groups and projects on GitLab:

- [GitLab People General](https://gitlab.com/people/general) is the primary project for the GitLab People Operations, Technology & Analytics Team.
- [People Engineering](https://gitlab.com/gitlab-com/people-group/peopleops-eng) this is the group that contains all of the People Engineering projects.

You can tag the People Operations, Technology & Analytics Team in GitLab using:

- '@gl-people-exp' - this notifies the entire People Experience Team 
- '@gl-people-operations' - this notifies the entire People Operations Team

### People Operations, Technology & Analytics Team Handbook Navigation

- [People Experience Team](https://about.gitlab.com/handbook/people-group/people-experience-team/)
- [People Engineering Handbook](/handbook/people-group/engineering/)
- [[People Compliance](/handbook/people-group/people-compliance/)
