:markdown
  ## Requirements

  * Minimum of 2 years of executive administration supporting more than one executive.
  * Must be able to support team members in PST and match the CEO's working schedule.
  * Successful history of managing the calendars, expenses, and travel of multiple executives.
  * Experience predicting, prioritizing, and assisting an executive’s workload.
  * Strong knowledge of Google Apps (Gmail, Docs, Spreadsheets, Presentations). Slack is a plus but not necessary.
  * Exceptional communication and interpersonal skills and ability to interact autonomously with internal and external partners.
  * Must have a proven track record of discretion with sensitive company and personal information.
  * Excellent computer skills, self starter in picking up new and complex systems.
  * Demonstrated ability to adopt technical tools quickly (i.e. terminal, text editor).
  * Possess an ability to multi-task and prioritize in a dynamic environment.
  * Superior attention to detail.
  * Event coordination and creative event planning experience.
  * Excellent written and verbal English communication skills.
  * Experience in a start-up environment preferred.
  * Experience working remotely preferred.
